<% provide :title, t(".title") %>
<div id="contact-content">
  <div class="title">
    <div class="container">
      <div class="title-contact" style="height: 50px;">
        <h1 class="col-md-9 titlepage">Liên hệ</h1>
      </div>
    </div>
  </div>
  <div id="contact-lienhe">
    <div class="container">
      <div class="row">
      <h2>Viết nhận xét</h2>
      <div class="row">
        <div class="col-md-6 form-group">
          <label class="text">Họ Tên <b>*</b></label>
          <input type="text" class="form-control" placeholder="Nhập Họ Tên">
        </div>
        <div class="col-md-6 form-group">
          <label class="text">Địa Chỉ <b>*</b></label>
          <input type="text" class="form-control" placeholder="Nhập Địa chỉ">
        </div>
        <div class="col-md-6 form-group">
          <label class="text">email <b>*</b></label>
          <input type="email" class="form-control" placeholder="Nhập email">
        </div>
        <div class="col-md-6 form-group">
          <label class="text">số điện thoại <b>*</b></label>
          <input type="number" class="form-control" placeholder="Nhập số điện thoại">
        </div>
        <div class="col-md-12 form-group">
          <label class="text">tiêu đề <b>*</b></label>
          <input type="text" class="form-control" placeholder="Nhập tiêu đề">
        </div>
        <div class="col-md-12 form-group">
          <label class="text">Comment <b>*</b></label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div class="col-md-3 btn-lienhe">
          <button class="btn lienhe"><span>GỬI LIÊN HỆ</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
